body {
    text-align: center;
    font-family: Kumbh Sans;
    font-weight: 700;
    font-size: 18px;
    background: linear-gradient(to right, hsl(185, 75%, 39%), hsl(229, 37%, 31%), hsl(227, 10%, 46%));
}

.card {
    background-color: white;
    display: inline-block;
    border-radius: 16px;
    height: 420px;
    width: 350px;
    position: relative;
    margin-top: 10%;
    z-index: 1;
}

.upperbox {
    background-image: url("images/bg-pattern-card.svg");
    height: 200px;
    border-radius: 16px 16px 0 0;
}

.profile_pic {
    border: white solid;
    border-width: 4px;
    border-radius: 100%;
    /* display: inline-block; */
    position: relative;
    left: 65px;
    top: -50px;
}

.top_img {
    position: absolute;
    top: -650px;
    left: -450px;
    width: 80%;
}

.bottom_img {
    position: absolute;
    bottom: -790px;
    right: -430px;
    width: 80%;
}

.name {
    position: relative;
    /* display: inline-block; */
    left: -50px;
}

.num {
    color: hsl(0, 0%, 59%);
}

.place {
    font-size: 15px;
}

table {
    width: 100%;
}

.prop_name {
    font-size: 10px;
}

hr {
    margin: 10px auto 10px;
    opacity: 0.3;
}

@media (max-width: 700px) {
    .top_img {
        width: 70%;
        top: -100px;
        left: -30%;
    }
    .bottom_img {
        right: -35%;
        bottom: -100px;
        width: 80%;
    }
}